.cards{
    display: flex;
    flex-wrap: wrap; /*Quand les div ne rentrent pas horizontalement, se met à la ligne d'en dessous*/
}

.card{
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    margin: 25px 0px;
    flex-basic: 250px;
    flex-grow: 1;
}



.card h3{
    flex-grow: 3;
    font-size: 14px;
    color: white;
}