.img{
	width: 250px;
	height: auto;
	transition: 1s;
	display: flex;
	
}

.zoom{
	width: 250px;
	height: 300px;
	display: flex;
	align-items: center; /*Centrer horizontalement*/ 
	justify-content: center; /*centrer verticalement*/
	overflow: hidden;	
	border-radius: 20px;
}


.img:hover{
	transform: scale(1.2);
}

.img-txt{
	border-radius: 90px;
	height: 60px;
}